:root {
  --kia-dark-background: #05141f;
  --kia-white-text: #ffffff;
  --kia-grey-color: #323a43;
  --kia-light-grey-background: #e7e7e7;
  --kia-green-color: #01a59a;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  position: fixed;
  align-items: center;
  background-color: var(--kia-dark-background);
  width: 100%;
  height: 67px;
}
.header__kia-logo-container {
  width: 69px;
  margin-left: 89px;
}
.header__kia-logo {
  fill: var(--kia-white-text);
}
.header__nav {
  display: flex;
  gap: 29px;
  margin-left: 67px;
}
.header__nav-item {
  display: flex;
  align-items: center;
  color: var(--kia-white-text);
  list-style: none;
  font-weight: 600;
  font-size: .87rem;
  letter-spacing: .2px;
  cursor: pointer;
}
.header__nav-item:hover p {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.nav-text-and-icon {
  display: flex;
  align-items: center;
}
.nav-text-and-icon > i {
  font-size: 1.2rem;
  padding-left: 12px;
}
.header__find-dealer-section {
  display: flex;
  align-items: center;
  color: var(--kia-white-text);
  font-size: .75rem;
  font-weight: 500;
  margin-left: auto;
  margin-right: 110px;
}
.header__location {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.header__location > i {
  margin-right: 8px;
  font-size: .9rem;
}
.header__find-dealer-section > p {
  text-decoration: underline;
  cursor: pointer;
}
.header__search-section {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 67px;
  width: 180px;
  color: var(--kia-white-text);
  background-color: var(--kia-grey-color);
  right: 0;
  transition: all 3ms;
  cursor: text;
}
.header__search-section-input {
  background: none;
  border: none;
  margin-left: 70px;
  width: 60%;
  outline: none;
  transition: all 3ms;
}
.header__search-section-input::placeholder {
  color: var(--kia-white-text);
  font-size: .89rem;
  font-weight: 600;
  letter-spacing: .1px;
}
.header__search-x-icon {
  display: none;
  font-size: 0px;
}
.header__search-icon > i{
  position: absolute;
font-size: 1.1rem;
color: var(--kia-white-text);
left: 45px;
top: 26px;
}
#header__search-section-open {
  display: flex;
  align-items: center;
  padding-right: 0;
  position: relative;
  width: 550px;
  background-color: var(--kia-white-text);
  color: var(--kia-dark-background);
  margin-right: 0;
  margin-left: auto;
  transition: all 3ms;
  border-bottom: 4px solid hsl(0, 0%, 96%);
}
#header__search-section-open > input {
  margin-right: auto;
  margin-left: 20px;
  font-size: .92rem;
  font-weight: 600;
  color: var(--kia-dark-background);
}
#header__search-section-open > input::placeholder {
color: var(--kia-grey-color);
}
#header__search-open-x-icon {
  display: block;
  position: absolute;
  font-size: 1.5rem;
  color: var(--kia-grey-color);
  right: 93px;
  cursor: pointer;
}
#header__search-open-icon > i {
  position: absolute;
  display: flex;
  height: 67px;
  width: 67px;
  left: auto;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--kia-white-text);
  background-color: var(--kia-grey-color);
  cursor: pointer;
}
.header__search-dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 550px;
  background-color: var(--kia-white-text);
  right: 0;
  top: 67px;
  box-shadow: -2px 3px 5px rgb(180, 180, 180);
  overflow: scroll;
}
.search-dropDown-item {
  text-decoration: none;
  color: var(--kia-dark-background);
  font-size: .87rem;
  font-weight: 600;
  letter-spacing: .4px;
  padding: 10px 0 10px 20px;
}
.search-dropDown-item:hover {
background-color: var(--kia-light-grey-background);
}
#header__search-dropDown-closed {
  display: none;
}